ul {
    border: 1px solid black;
    padding: 0;
    list-style-type: none;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

li {
    border: 1px solid blue;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
    flex-basis: 200px;      /* максимальная ширина*/
}

li:first-child {
    border: 1px solid red;
    flex-grow: 1;
    flex-basis: 830px;
    
} li:nth-child(2){
    border: 1px solid red;
    flex-grow: 1;
    flex-basis: 830px;
}

/*
li:first-child{
    padding: 100px;  +align-items: baseline;  выравнивание по тексту
}
*/



/*
li:nth-child(4) {
    align-self: flex-start;  отдельный блок на верху
}
*/


/*
li:first-child{
    order: 1;
}
                       порядок вывода(по умолчанию 0)
#test{
    order: -1;
}*/



/*
li:first-child{
  flex-grow: 3;  
}                  жадность

li:nth-child(2){
    flex-grow: 1;
}*/



/*
li:first-child{
    flex-shrink: 1;
    flex-basis: 300px;
}                  
                         щедрость
li:nth-child(2){
    flex-shrink: 3;
    flex-basis: 300px;
}*/
