ul {
    border: 1px solid black;
    padding: 0;
    list-style-type: none;
    height: 600px;
    display: flex;
    justify-content: ;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse: ;
}

li {
    border: 1px solid blue;
    padding: 20px;
    margin: 5px;
    font-size: 20px;  