h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Roboto',"segoe ui light", Tahoma, calibri, 'Times new Roman', sans-serif, monospace;
/*    text-decoration: line-through red dotted;*/
/*    font-variant: small-caps;*/
    font-style: italic;
/*    font: italic small-caps 700 60px/20px 'roboto', sans-serif;*/
    text-align: center;
    text-shadow: 0 -50px 5px green, -350px 0 5px blue, 350px 50px 5px red, -350px 50px 5px orange;
}

div{
/*    word-spacing: 50px;*/
/*    letter-spacing: 20px;*/
    text-indent: 200px;
/*    text-transform: uppercase;*/
/*    line-height: 50px;*/
}